# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

[Unit]
Description=Make power management socket dir
DefaultDependencies=no

# This is a hack to make sure this service starts early in boot, before all services that need this pm socket dir.
# In the future, add a early-services-pre.target and order this service before the target.
Before=systemd-modules-load.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=systemd-tmpfiles --create /usr/lib/tmpfiles-early.d/qcom_pm.conf

[Install]
WantedBy=multi-user.target
